<a href="https://colab.research.google.com/github/MABD-KARIM/retail_batch_gcp/blob/main/orders_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import csv
from datetime import datetime, timedelta, date
import random

In [11]:
header = ["StockDate","ProdId","StockQty"]
with open("stocks.csv", mode="w") as file:
  writer = csv.writer(file)
  writer.writerow(header)
  for i in range(1,41):
    row=[]
    row.append("2019-12-31")
    row.append(i)
    row.append(200)
    writer.writerow(row)

In [12]:
s=[200 for i in range(40)]
qtes = [1,2,5,6,8,10,12,14,15,20,25]
debut = datetime(2020,1,1).date()
header=["OrderId","OrderDate","ProdId","CustId","Qty","IsHonored"]
id=0
with open("orders.csv",mode="w") as file:
  writer = csv.writer(file)
  writer.writerow(header)
  while debut!= date.today():
    n=random.randint(500,1000)
    for i in range(n):
      row=[]
      id+=1
      row.append(id)
      row.append(debut)
      product=random.randint(1,40)
      row.append(product)
      customer=random.randint(1,100)
      row.append(customer)
      qty=random.choice(qtes)
      row.append(qty)
      if s[product-1]>qty:
        s[product-1]-=qty
        IsHonored=True
      else:
        IsHonored=False
      row.append(IsHonored)
      writer.writerow(row)
    with open("stocks.csv", mode="a") as stocks:
      writer_stock = csv.writer(stocks)
      for index, product in enumerate(s):
        stock=[]
        stock.append(debut)
        stock.append(index+1)
        if product<30:
          product=100
        stock.append(product)
        writer_stock.writerow(stock)
    debut+=timedelta(days=1)
with open("last_line.csv", mode="w") as file:
  writer=csv.writer(file)
  writer.writerow([id])

In [16]:
df_orders=pd.read_csv("orders.csv")
df_orders.tail(10)

        OrderId   OrderDate  ProdId  CustId  Qty  IsHonored
938421   938422  2023-06-12      22      50   20      False
938422   938423  2023-06-12       8      67    1      False
938423   938424  2023-06-12      40      66   15      False
938424   938425  2023-06-12      12      95    5      False
938425   938426  2023-06-12      28      23   20      False
938426   938427  2023-06-12      35      38    8      False
938427   938428  2023-06-12      30      83    1      False
938428   938429  2023-06-12       8      25   15      False
938429   938430  2023-06-12      27      86   12      False
938430   938431  2023-06-12      11      98    8      False